<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403348181063-gh7p90kpmquqogkem378671l0530117s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403348181063-gh7p90kpmquqogkem378671l0530117s</string>
	<key>API_KEY</key>
	<string>AIzaSyDcucClIFCMIM2tLipQ3ylZbEOcXraiRU4</string>
	<key>GCM_SENDER_ID</key>
	<string>403348181063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.ammarafzal.suKoruyuculari</string>
	<key>PROJECT_ID</key>
	<string>su-koruyuculari</string>
	<key>STORAGE_BUCKET</key>
	<string>su-koruyuculari.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403348181063:ios:5c3a57f865180a257fa162</string>
</dict>
</plist>